<div>
  <img src="assets/images/christmas_logo4.jpg" alt="Merry Christmas" class= "merry-image">
  <img src="assets/images/santa1.png" alt="Santa" class="top-right-image" />
</div>
<div style="margin-left: 30px;">
  <img *ngIf="isTreeOn" src="assets/images/tree-on.png" alt="Christmas Tree On" class="center-image" />
  <img *ngIf="!isTreeOn" src="assets/images/tree-off.png" alt="Christmas Tree Off" class="center-image" />
  <button class="btn btn-primary" type="submit" style='margin-right:16px' (click)="showDiv('wishes')">Show Wishes</button>
  <button class="btn btn-primary" type="submit" style='margin-right:16px' (click)="showDiv('addWishes')">Add Wishes</button>
  <button class="toggle-btn" (click)="toggleTree()">
    {{ isTreeOn ? 'Lights Off' : 'Lights On' }}
  </button>
  <br/><br>
  <div *ngIf="selectedDiv === 'wishes'">
    <h2><b>Christmas Wishlist</b></h2>
    <table>
      <thead>
        <tr>
          <th>User Name</th>
          <th>Email Address</th>
          <th>Wish</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wish of wishes">
          <td>{{ wish.name }}</td>
          <td>{{ wish.email }}</td>
          <td>{{ wish.description }}</td>
          <td>
            <button class="btn btn-primary" style='margin-right:16px' (click)="openEditForm(wish)">Update</button>
            <button class="btn btn-danger" (click)="deleteWish(wish.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedDiv === 'addWishes'">
    <h2><b>Add Your Wish</b></h2>
    <form [formGroup]="wishForm" (ngSubmit)="addWish()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': name?.invalid && name?.touched }" placeholder="Enter your name">
        <div *ngIf="name?.invalid && name?.touched" class="text-danger">
          <small *ngIf="name?.errors?.['required']">Name is required.</small>
          <small *ngIf="name?.errors?.['minlength']">Name must be at least 3 characters.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': email?.invalid && email?.touched }" placeholder="Enter your email">
        <div *ngIf="email?.invalid && email?.touched" class="text-danger">
          <small *ngIf="email?.errors?.['required']">Email is required.</small>
          <small *ngIf="email?.errors?.['email']">Email is invalid.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Wish</label>
        <textarea id="description" formControlName="description" [ngClass]="{ 'is-invalid': description?.invalid && description?.touched }" class="form-control" rows="3"></textarea>
        <div *ngIf="description?.invalid && description?.touched" class="text-danger">
          <small *ngIf="description?.errors?.['required']">Description is required.</small>
          <small *ngIf="description?.errors?.['minlength']">Description must be at least 5 characters.</small>
        </div>
      </div><br>
      <button type="submit" class="btn btn-success" [disabled]="wishForm.invalid">Submit</button>
    </form>
  </div>
  <div *ngIf="selectedDiv === 'updateWish'">
    <h2><b>Update Your Wish</b></h2>
    <form [formGroup]="wishUpdateForm" (ngSubmit)="submitUpdatedWish()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control" [disabled]="true" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" [disabled]="true" />
      </div>
      <div class="form-group">
        <label for="description">Wish</label>
        <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
      </div><br>
      <button type="submit" class="btn btn-success" style='margin-right:16px' [disabled]="wishUpdateForm.invalid">Update Wish</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>